<header>
    <link href="/user/css/checkout.css" rel="stylesheet">
    <script src="/user/js/checkout.js"></script>
</header>
<section>
    <div class="container">
        <div class="row" style="padding-top:20px; padding-bottom: 20px">
            <div class="col-sm-8">
                <div class="d-flex flex-row mb-12" style="padding-left: 30px">
                    <p style="font-size: large">Giỏ hàng &nbsp;</p>
                    <p style="font-size: large">(<span id="productAmount" style="font-weight: bolder;"><%= selectedProducts.length %></span> sản phẩm)</p>
                </div>
                <div class="list-group">
                    <% selectedProducts.forEach(function (product){ %>
                        <!--item-->
                        <div id="<%- product._id %>DIV">
                            <div class="card" style="padding: 0px; margin-bottom: 15px">
                                <div class="row" style="padding: 0px; margin: 0px">
                                    <div class="col-sm-2" style="padding: 0px">
                                        <img class="image" src="<%= product.images[0] %>">
                                    </div>
                                    <div class="col-sm-5" style="padding-left: 30px">
                                        <div class="row" style="padding-top: 10px">
                                            <h4><%= product.name %></h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <p style="color: #0b7dda"
                                                   onclick="deleteProduct('<%- product._id %>', '<%- product.price %>');">
                                                    Xóa</p>
                                            </div>
                                            <div class="col-sm-5" style="padding: 0px">
                                                <p style="color: #0b7dda" onclick="deleteProduct('<%- product._id %>', '<%- product.price %>');">Để dành mua sau</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5" style="padding: 20px">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="d-flex flex-row-reverse">
                                                    <h5><%= product.price %>đ</h5>
                                                </div>
                                                <div class="d-flex flex-row-reverse" >
                                                    <h6 style="color: #6e6e6e">
                                                        &nbsp; | 50%</h6>
                                                    <h6 style="text-decoration-line: line-through; color: #6e6e6e"><%= product.price * 2 %>
                                                        đ</h6>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="d-flex justify-content-center">
                                                    <div class="input-group number-spinner" style="width: 120px">
                                                        <span class="input-group-btn-sub">
                                                            <button class="btn btn-default" data-dir="dwn">
                                                                <i class="fas fa-minus"></i>
                                                            </button>
                                                        </span>
                                                        <input type="text" class="form-control text-center" value="1">
                                                        <span class="input-group-btn-add">
                                                            <button class="btn btn-default" data-dir="up">
                                                                <i class="fa fa-plus" ></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <div class="card" style="margin-top: 50px;">
                        <div class="card-top">
                            <div class="d-flex flex-row mb-12" style="padding: 0px; margin: 0px">
                                <div class="mr-auto p-2 bd-highlight">
                                    <h4>Địa chỉ nhập hàng</h4>
                                </div>
                                <div class="p-2 bd-highlight">
                                    <h4 style="color: #0b7dda">Thay đổi</h4>
                                </div>
                            </div>
                            <div class="d-flex flex-row mb-12" style="padding-left: 25px; margin-top: 10px">
                                <div class="col">
                                    <div class="d-flex flex-row mb-12">
                                        <p style="font-size: medium">Trương Văn Tú</p>
                                        <p style="font-size: medium">&nbsp;|&nbsp;</p>
                                        <p style="font-size: medium">0978966563</p>
                                    </div>
                                    <div class="d-flex flex-row mb-12">
                                        <h5 style="color: #6e6e6e">64 Tản Đà, P.11, Q.5, Tp.HCM</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex flex-row mb-12" style="padding: 0px; margin: 0px">
                                <div class="mr-auto p-2 bd-highlight">
                                    <h4 style="color: #7A7676">Tạm tính</h4>
                                </div>
                                <div class="p-2 bd-highlight">
                                    <div class="col d-flex align-items-end flex-column" style=" padding: 0px">
                                        <h4 id="costTotal1"><%= costTotal %>đ</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row mb-12" style="padding: 0px; margin: 0px">
                                <div class="mr-auto p-2 bd-highlight">
                                    <h4 style="color: #7A7676">Giảm giá</h4>
                                </div>
                                <div class="p-2 bd-highlight">
                                    <div class="col d-flex align-items-end flex-column" style=" padding: 0px">
                                        <h4>0đ</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row mb-12" style="padding: 0px; margin: 0px">
                                <div class="mr-auto p-2 bd-highlight">
                                    <h4 style="color: #7A7676">Thành tiền</h4>
                                </div>
                                <div class="p-2 bd-highlight">
                                    <div class="col d-flex align-items-end flex-column" style=" padding: 0px">
                                        <h4 id="costTotal2" style="color: crimson"><%= costTotal %>đ</h4>
                                        <h5 style="color: #6e6e6e">(Đã bao gồm VAT nếu có)</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row mb-12 justify-content-center" style="margin: 20px">
                                <a href="/" style="font-size: large;padding: 15px" class="abc col-sm-3 col-sm-9" >Tiến hành thanh toán</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>