<header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/user/css/checkout.css" rel="stylesheet">
    <script src="/user/js/checkout.js"></script>
</header>
<section>
    <div class="container">
        <div class="row" style="padding-top:20px; padding-bottom: 20px">
            <div class="col-sm-8">
                <div class="d-flex flex-row mb-12" style="padding-left: 30px">
                    <p style="font-size: large">Giỏ hàng &nbsp;</p>
                    <p style="font-size: large">(<span name="productAmount" style="font-weight: bolder;"><%= cartAmount %></span> sản phẩm)</p>
                </div>
                <div class="list-group">
                    <% selectedProducts.forEach(function (product){ %>
                        <!--item-->
                        <script>
                            listProduct.push(<%= product %>);
                        </script>
                        <div id="<%- product._id %>DIV">
                            <div class="card" style="padding: 0px; margin-bottom: 15px">
                                <div class="row" style="padding: 0px; margin: 0px">
                                    <div class="col-sm-2" style="padding: 0px">
                                        <img class="image" src="<%= product.images[0] %>" onclick="location.href='http://127.0.0.1:3000/products-detail?id=<%= product._id %>'">
                                    </div>
                                    <div class="col-sm-4" style="padding-left: 30px">
                                        <div class="row" style="padding-top: 10px">
                                            <h4><%= product.name %></h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <p style="color: #0b7dda"
                                                   onclick="deleteProduct('<%- product._id %>', '<%- product.price %>');">
                                                    Xóa</p>
                                            </div>
                                            <div class="col-sm-7" style="padding: 0px">
                                                <p style="color: #0b7dda" onclick="deleteProduct('<%- product._id %>', '<%- product.price %>');">Để dành mua sau</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" style="padding: 20px">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="d-flex flex-row-reverse">
                                                    <h5><%= product.price.toLocaleString('vi', {style : 'currency', currency : 'VND'}); %></h5>
                                                </div>
                                                <div class="d-flex flex-row-reverse" >
                                                    <h6 style="color: #6e6e6e">
                                                        &nbsp; | 50%</h6>
                                                    <h6 style="text-decoration-line: line-through; color: #6e6e6e"><%= (product.price * 2).toLocaleString('vi', {style : 'currency', currency : 'VND'}); %></h6>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="d-flex justify-content-center">
                                                    <div class="input-group number-spinner" style="width: 120px">
                                                        <span class="input-group-btn-sub">
                                                            <button class="btn btn-default" data-dir="dwn" onclick="subOne('<%- product._id %>', '<%- product.price %>')">
                                                                <i class="fa fa-minus"></i>
                                                            </button>
                                                        </span>
                                                        <input id="<%- product._id %>AMOUNT" style="padding: 10px" type="text" class="form-control text-center" value="<%= product.amount%>">
                                                        <span class="input-group-btn-add">
                                                            <button class="btn btn-default" data-dir="up" onclick="addOne('<%- product._id %>', '<%- product.price %>')">
                                                                <i class="fa fa-plus" ></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
            <div class="col-sm-4" style=" padding: 0px">
                <div>
                    <div class="card" style="margin-top: 50px;">
                        <div class="card-top">
                            <div class="d-flex justify-content-between" style="padding: 0px; margin: 0px">
                                <div class="mr-auto p-2 bd-highlight">
                                    <h5>Địa chỉ nhập hàng</h5>
                                </div>
                                <div class="p-2 bd-highlight">
                                    <h5 style="color: #0b7dda">Thay đổi</h5>
                                </div>
                            </div>
                            <div class="d-flex flex-row mb-12" style="padding-left: 25px; margin-top: 10px">
                                <div class="col">
                                    <div class="d-flex flex-row mb-12">
                                        <p style="font-size: medium">Trương Văn Tú</p>
                                        <p style="font-size: medium">&nbsp;|&nbsp;</p>
                                        <p style="font-size: medium">0978966563</p>
                                    </div>
                                    <div class="d-flex flex-row mb-12">
                                        <p style="color: #6e6e6e">64 Tản Đà, P.11, Q.5, Tp.HCM</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p id="costTotal" style="display: none;"><%= costTotal %></p>
                            <div class="d-flex justify-content-between" style="padding: 0px; margin: 0px">
                                <div class="mr-auto p-2 bd-highlight">
                                    <h5 style="color: #7A7676">Tạm tính</h5>
                                </div>
                                <div class="p-2 bd-highlight">
                                    <div class="col d-flex align-items-end flex-column" style=" padding: 0px">
                                        <h5 id="costTotal1"><%= costTotal.toLocaleString('vi', {style : 'currency', currency : 'VND'}); %></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between" style="padding: 0px; margin: 0px">
                                <div class="mr-auto p-2 bd-highlight">
                                    <h5 style="color: #7A7676">Giảm giá</h5>
                                </div>
                                <div class="p-2 bd-highlight">
                                    <div class="col d-flex align-items-end flex-column" style=" padding: 0px">
                                        <h5><%= (0).toLocaleString('vi', {style : 'currency', currency : 'VND'});%></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between" style="padding: 0px; margin: 0px">
                                <div class="mr-auto p-2 bd-highlight">
                                    <h5 style="color: #7A7676">Thành tiền</h5>
                                </div>
                                <div class="p-2 bd-highlight">
                                    <div class="col d-flex align-items-end flex-column" style=" padding: 0px">
                                        <h5 id="costTotal2" style="color: crimson"><%= costTotal.toLocaleString('vi', {style : 'currency', currency : 'VND'}); %></h5>
                                        <h6 style="color: #6e6e6e">(Đã bao gồm VAT nếu có)</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row mb-12 justify-content-center" style="margin: 20px">
                                <a href="/" style="font-size: large;padding: 15px" class="abc col-sm-3 col-sm-9" >Tiến hành thanh toán</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
