
<div class="container">
    <div class="row row-items">
        <h2 style="text-align: center;">SẢN PHẨM NỔI BẬT</h2>
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <div class="container">
                        <div class="row">
                            <% highlightProducts.forEach(function (product){ %>

                                <div class="col-lg-3 col-md-6" onclick="location.href='http://127.0.0.1:3000/products-detail?id=<%= product._id %>'">
                                    <div class="card text-center item-container">
                                        <img class="card-img-top image" height="150px" src="<%= product.images[0] %>">
                                        <div class="card-body align-items-center">
                                            <a style="text-align: center;"><%= product.name %></a><br>
                                            <a style="text-align: center;"><%= product.price.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+" đ"; %></a> <br>
                                            <a style="text-align: center;">M S L</a><br>
                                            <i style="color: #E07A5F" class="fa fa-square"></i>
                                            <i style=" color: #8C4DF3" class="fa fa-square"></i>
                                            <i style="color: orange" class="fa fa-square"></i>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <div class="container">
                        <div class="row">
                            <% topsaleProducts.forEach(function (product){ %>
                                <div class="col-lg-3 col-md-6" onclick="location.href='http://127.0.0.1:3000/products-detail?id=<%= product._id %>'">
                                    <div class="card text-center item-container">
                                        <img class="card-img-top image" height="150px" src="<%= product.images[0] %>">
                                        <div class="card-body align-items-center">
                                            <a style="text-align: center;"><%= product.name %></a><br>
                                            <a style="text-align: center;"><%= product.price.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+" đ"; %></a> <br>
                                            <a style="text-align: center;">M S L</a><br>
                                            <i style="color: #E07A5F" class="fa fa-square"></i>
                                            <i style=" color: #8C4DF3" class="fa fa-square"></i>
                                            <i style="color: orange" class="fa fa-square"></i>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <% highlightProducts.forEach(function (product){ %>

                                <div class="col-lg-3 col-md-6" onclick="location.href='http://127.0.0.1:3000/products-detail?id=<%= product._id %>'">
                                    <div class="card text-center item-container">
                                        <img class="card-img-top image" height="150px" src="<%= product.images[0] %>">
                                        <div class="card-body align-items-center">
                                            <a style="text-align: center;"><%= product.name %></a><br>
                                            <a style="text-align: center;"><%= product.price.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+" đ";%></a> <br>
                                            <a style="text-align: center;">M S L</a><br>
                                            <i style="color: #E07A5F" class="fa fa-square"></i>
                                            <i style=" color: #8C4DF3" class="fa fa-square"></i>
                                            <i style="color: orange" class="fa fa-square"></i>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
            <a style="width: 20px"
                class="carousel-control-prev" href="#carouselExampleDark" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon fa-4x" aria-hidden="true"></span>
            </a>
            <a style="width: 20px; margin: 40px" class="carousel-control-next" href="#carouselExampleDark" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>

    <div class="row row-items">
        <h2 style="text-align: center;">SẢN PHẨM BÁN CHẠY</h2>
        <div id="carouselExampleDark2" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <div class="container">
                        <div class="row">
                            <% topsaleProducts.forEach(function (product){ %>
                                <div class="col-lg-3 col-md-6" onclick="location.href='http://127.0.0.1:3000/products-detail?id=<%= product._id %>'">
                                    <div class="card text-center item-container">
                                        <img class="card-img-top image" height="150px" src="<%= product.images[0] %>">
                                        <div class="card-body align-items-center">
                                            <a style="text-align: center;"><%= product.name %></a><br>
                                            <a style="text-align: center;"><%= product.price.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+" đ"; %></a> <br>
                                            <a style="text-align: center;">M S L</a><br>
                                            <i style="color: #E07A5F" class="fa fa-square"></i>
                                            <i style=" color: #8C4DF3" class="fa fa-square"></i>
                                            <i style="color: orange" class="fa fa-square"></i>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <div class="container">
                        <div class="row">
                            <% highlightProducts.forEach(function (product){ %>
                                <div class="col-lg-3 col-md-6" onclick="location.href='http://127.0.0.1:3000/products-detail?id=<%= product._id %>'">
                                    <div class="card text-center item-container">
                                        <img class="card-img-top image" height="150px" src="<%= product.images[0] %>">
                                        <div class="card-body align-items-center">
                                            <a style="text-align: center;"><%= product.name %></a><br>
                                            <a style="text-align: center;"><%= product.price.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+" đ";%></a> <br>
                                            <a style="text-align: center;">M S L</a><br>
                                            <i style="color: #E07A5F" class="fa fa-square"></i>
                                            <i style=" color: #8C4DF3" class="fa fa-square"></i>
                                            <i style="color: orange" class="fa fa-square"></i>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <% topsaleProducts.forEach(function (product){ %>
                                <div class="col-lg-3 col-md-6" onclick="location.href='http://127.0.0.1:3000/products-detail?id=<%= product._id %>'">
                                    <div class="card text-center item-container">
                                        <img class="card-img-top image" height="150px" src="<%= product.images[0] %>">
                                        <div class="card-body align-items-center">
                                            <a style="text-align: center;"><%= product.name %></a><br>
                                            <a style="text-align: center;"><%= product.price.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+" đ";%></a> <br>
                                            <a style="text-align: center;">M S L</a><br>
                                            <i style="color: #E07A5F" class="fa fa-square"></i>
                                            <i style=" color: #8C4DF3" class="fa fa-square"></i>
                                            <i style="color: orange" class="fa fa-square"></i>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
            <a style="width: 20px"
               class="carousel-control-prev" href="#carouselExampleDark2" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon fa-4x" aria-hidden="true"></span>
            </a>
            <a style="width: 20px; margin: 40px" class="carousel-control-next" href="#carouselExampleDark2" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
    <div class="row row-items">
        <div class="col-lg-4 col-md-12">
            <div class="tag-item1 d-flex justify-content-center align-items-center">
                <h2 class="tag-font-color">BỘ SƯU TẬP MỚI</h2>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="tag-item2 d-flex justify-content-center align-items-center">
                <h2 class="tag-font-color">ƯU ĐÃI</h2>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="tag-item3 d-flex justify-content-center align-items-center">
                <h2 class="tag-font-color">QUÀ TẶNG</h2>
            </div>
        </div>
    </div>
</div>