<header>
    <link href="user/css/try-clothes.css" rel="stylesheet">
    <script>
        let storeGender = <%= curGender%>;
        let storeType = <%= curType%>;
        const firsPicDefaultPath = "user/images/try-clothes/image1.jpg";
        const secondPicDefaulPath = "user/images/try-clothes/image2.jpg";
        const pic1Key = 'firstPicPath';
        const pic2Key = 'secondPicPath';
        let pic = false;
        let picLocal = false;
        let selectID = '';

        function myClick(gender, type)
        {
            storeGender = gender;
            storeType = type;
            let url = 'http://127.0.0.1:3000/try-clothes?gender=' + gender + '&&type=' + type;
            return window.location= url;
        }
        function clickLocationProduct(imgPath, ida, productId)
        {
            if(ida == 1)
            {
                document.getElementById('firstPic').src = imgPath;          
                localStorage.setItem(pic1Key,imgPath)
            }
            else if(ida == 2)
            {
                selectID = productId;
                document.getElementById('secondPic').src = imgPath;
                localStorage.setItem(pic2Key,imgPath)
            }
            else
            {
                if(pic)
                {
                    document.getElementById('firstPic').src = imgPath;          
                    localStorage.setItem(pic1Key,imgPath)
                }
                else
                {
                    selectID = productId;
                    document.getElementById('secondPic').src = imgPath;
                    localStorage.setItem(pic2Key,imgPath)
                }
            }
        }
        function loadPic()
        {
            if(localStorage.getItem(pic1Key) == 'undefined')
                localStorage.settItem(pic1Key, firsPicDefaultPath)
            if(localStorage.getItem(pic2Key) == 'undefined')
                localStorage.setItem(pic2Key, secondPicDefaulPath)
            localStorage.settItem(pic1Key, firsPicDefaultPath)
            document.getElementById('firstPic').src = localStorage.getItem(pic1Key);  
            document.getElementById('secondPic').src = localStorage.getItem(pic2Key);
        }
        function loadFile(event, id)
        {
            clickLocationProduct(URL.createObjectURL(event.target.files[0]), id);
            picLocal= true;
        }
        function toDetail(id)
        {
            if(selectID!='')
            {
                let url = 'http://127.0.0.1:3000/products-detail?id=' + selectID;
                return window.location= url;
            }
            else if(id!=null)
            {
                let url = 'http://127.0.0.1:3000/products-detail?id=' + id;
                return window.location= url;
            }
            else{
                var modal = document.getElementById("myModal");
                modal.style.display = "block";
            }
        }
        function  closeModel()
        {
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
        }
        function addCart()
        {
            if(selectID!='')
            {
                let url = 'http://127.0.0.1:3000/try-clothes?gender=' + storeGender + '&&type=' + storeType + '&&id=' + selectID;
                return window.location= url;
            }
            else{
                var modal = document.getElementById("myModal");
                modal.style.display = "block";
            }
            // let url = 'http://127.0.0.1:3000/try-clothes?gender=' + gender + '&&type=' + type + '&&id=' + selectID;
        }
        function tryClothes()
        {
            if(selectID!=''&&picLocal==true)
            {
                document.getElementById('resultPic').src = "user/images/try-clothes/image3.jpg"
            }
            else{
                var modal = document.getElementById("myModal");
                modal.style.display = "block";
            }
        }
    </script>
</header>

<section style="background: #E7EDF0; padding: 20px">
    <div class="row">
        <div class="col-sm-3">
            <% if(selectedProducts.length > 0) {%>
                <div class="card">
                    <div class="row" style="font-size: x-large; font-weight: bolder; margin: auto; width: 75%; padding: 10px;">
                            Giỏ hàng của bạn
                    </div>
                    <div class="card-body">
                        <div class="list-group flex-row flex-wrap">
                            <!--item-->
                            <% selectedProducts.forEach(function (product) {%>
                            <div class="col-sm-6" style="padding: 5px" onclick="clickLocationProduct('<%=product.images[0]%>',2, '<%=product._id%>')">
                                <div class="card text-center">
                                    <img class="card-img-top image"  height="150" src="<%=product.images[0] %>" alt="Card image cap" >
                                    <div class="card-body align-items-center">
                                        <h6 class="card-title"><%= product.name%></h6>
                                        <p class="card-text"><%= product.price.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+" đ";%></p>
                                    </div>
                                </div>
                            </div>
                            <% }); %>

                        </div>
                    </div>
                </div>
            <%} else {%>
                <div class="card">
                    <div class=" row" style="margin-top: 10px">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            <div class="dropdown">
                                <% let genderDisplay = curGender == '1'? 'Nam' : 'Nữ'%>
                                <% let typeDisplay = curType == '1' ? 'Áo' : 'Quần' %>
                                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                                    <b style="font-size: x-large;"><%=genderDisplay%></b>
                                </button>
                                <div class="dropdown-menu">
                                    <p class="dropdown-item" onclick="myClick(1, storeType)">Nam</p>
                                    <p class="dropdown-item" onclick="myClick(2,storeType)">Nữ</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5" >
                            <div class="dropdown">
                                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" >
                                    <b style="font-size: x-large;"><%= typeDisplay %></b>
                                </button>
                                <div class="dropdown-menu">
                                    <p class="dropdown-item" >Mới</p>
                                    <p class="dropdown-item" onclick="myClick(storeGender, 1)">Áo</p>
                                    <p class="dropdown-item" onclick="myClick(storeGender, 2)">Quần</p>
                                    <p class="dropdown-item" >Túi xách</p>
                                    <p class="dropdown-item" >Túi xách</p>
                                    <p class="dropdown-item" >Phụ kiện</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="card-body">
                        <div class="list-group flex-row flex-wrap">
                            <!--item-->
                            <% products.forEach(function (product) {%>
                            <div class="col-sm-6" style="padding: 5px" onclick="clickLocationProduct('<%=product.images[0]%>',2, '<%=product._id%>')">
                                <div class="card text-center">
                                    <img class="card-img-top image"  height="150" src="<%=product.images[0] %>" alt="Card image cap" >
                                    <div class="card-body align-items-center">
                                        <h6 class="card-title"><%= product.name%></h6>
                                        <p class="card-text"><%= product.price.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+" đ";%></p>
                                    </div>
                                </div>
                            </div>
                            <% }); %>

                        </div>
                    </div>
                </div>
            <%}%>
        </div>
        <div class="col-sm-9 my-auto">
            <div class="col-12 ">
                <div class="row">
                    <!--Push model-->
                    <div class="col-sm-3">
                        <div class="card shadow">
                            <img id="firstPic" src="user/images/try-clothes/image1.jpg" onload="loadPic()" style="height:300px; border-radius: 8px">
                            <div class="centered file-field">
                                <button class="buttonFile" onclick="document.getElementById('file-input').click();">
                                    <img   src="user/images/try-clothes/file.png" style="height:70px;width: 70px">
                                </button>
                                <input id="file-input" type="file" name="name" style="display: none;" onchange="loadFile(event, 1)"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 my-auto bi-align-center">
                        <div class="row justify-content-center">
                            <i class="fa fa-plus fa-4x" ></i>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card shadow">
                            <% if(producted!=null){ %>
                                <img id="secondPic" src="<%=producted.images[0]%>"  onload="loadPic()" style="height:300px; border-radius: 8px">
                            <% } else{ %>
                                <img id="secondPic" src="user/images/try-clothes/image2.jpg"  onload="loadPic()" style="height:300px; border-radius: 8px">
                            <% } %>
                            <div class="centered file-field">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 my-auto">
                        <div class="row justify-content-center">
                            <i class="fas fa-equals fa-4x"></i>
                        </div>

                    </div>
                    <!--Result-->
                    <div class="col-sm-3">
                        <div class="card shadow">
                            <img id="resultPic" class="card-img-top" style="border-radius: 8px" height="300" src="user/images/try-clothes/image5.jpg" alt="Card image cap">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin-top: 50px">
                    <a style="font-size: large;" target="_blank" class="abc col-sm-3" onclick="tryClothes()">Thử đồ</a>
                    <div class="col-sm-1"></div>
                    <% if(producted!=null){ %>
                        <a style="font-size: large;" target="_blank" class="abc col-sm-3" onclick="toDetail(<%=producted._id%>)">Chi tiết sản phẩm</a>
                    <% } else{ %>
                    <a style="font-size: large;" target="_blank" class="abc col-sm-3" onclick="toDetail(null)">Chi tiết sản phẩm</a>
                    <% } %>

                </div>
                <div class="row justify-content-center" style="margin-top: 30px">
                    <a onclick="location.href='http://127.0.0.1:3000/checkout'" style="font-size: large;" class="abc col-sm-3" >Mua ngay</a>
                    <div class="col-sm-1"></div>
                    <a style="font-size: large;" class="abc col-sm-3" onclick="addCart()">Thêm vào giỏ hàng</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="myModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Lỗi</h5>
                <button onclick="closeModel()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn chưa chọn sản phẩm!</p>
                <p>Vui lòng chọn 1 sản phẩm trong danh sách!</p>
            </div>
            <div class="modal-footer">
                <button style="background: #8C4DF3" onclick="closeModel()" type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#input-b5").fileinput({showCaption: false, dropZoneEnabled: false});
    });
</script>